{% extends 'home.html' %}

{% block div %}
<div class="row">
    {% for object in object_list %}
    <div class="col-sm-6">
      <div class="card" id="bg_color">
        <div class="card-body">
          <h5 class="card-title">{{object.title}}</h5>
          <p class="card-text">{{object.para}}</p>
          <a href="{{object.url}}" class="btn btn-primary">Read full article
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock div %}

{% block h1 %}India{% endblock h1 %}
{% block p %}"India is the cradle of human race,
the birthplace of human speech,
the mother of history,
the grandmother of legend,and
 great grandmother of tradition,
 Our most valuable and most constructive 
 materials in the history of man are 
 treasured up in india only."
                             ~Mark Twain{% endblock p %}