{% extends 'home.html' %}


{% block div %}
<div class="row" >
    {% for object in object_list %}
    <div class="col-sm-6" >
      <div class="card" id="bg_color">
        <div class="card-body">
          <h5 class="card-title">{{object.title}}</h5>
          <p class="card-text">{{object.para}}</p>
          <a href="{{object.url}}" class="btn btn-primary">Read full article
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock div %}

{% block h1 %}Latest News{% endblock h1 %}
{% block p %}This page shows the latest news impertinently fetched for our avid readers{% endblock p %}

